.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dff2ff;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(118, 156, 179, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__btn {
  position: relative;
}

.nav__link {
  color: rgba(78, 78, 78, 0.534);
}

.nav__link-current {
  color: #2e363e;
}

.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 35px;
}
